altgraph==0.17.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.3
customtkinter==5.2.2
darkdetect==0.8.0
et-xmlfile==1.1.0
html2text==2024.2.26
idna==3.6
macholib==1.16.3
markdown2==2.4.13
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pyarrow==15.0.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tk==0.1.0
tzdata==2023.4
urllib3==2.1.0
